footer(class="text-center text-lg-start bg-light text-muted")
    section(class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom")
        div(class="me-5 d-none d-lg-block")
            span Get connected with us on social networks:
        
        div(class="social-networks")
            a(href="" class="me-4 text-reset")
                i(class="fa fa-facebook")
            a(href="" class="me-4 text-reset")
                i(class="fa fa-twitter")
            a(href="" class="me-4 text-reset")
                i(class="fa fa-linkedin")
            a(href="" class="me-4 text-reset")
                i(class="fa fa-instagram")
    section  
        div(class="container text-center text-md-start mt-5")
            div(class="row mt-3")
                div(class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4")
                    h6(class="text-uppercase fw-bold mb-2") HAF in Morocco 
                    p
                        i(class="fa fa-map-marker") Résidence Adam, n° 5,  Rue Omar Ibn Khattab, Marrakech 40025, Maroc
                    p   
                        i(class="fa fa-envelope") haf@highatlasfoundation.org
                    p 
                        i(class="fa fa-phone") +212 (0) 5 24 42 08 21
                    p 
                        i(class="fa fa-fax") +212 (0) 5 24 43 00 02

                div(class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4")
                    h6(class="text-uppercase fw-bold mb-2") HAF in THE US 
                    p
                        i(class="fa fa-map-marker") 511 Sixth Avenue, #K110 New York, NY 10011 USA
                    p   
                        i(class="fa fa-envelope") haf@highatlasfoundation.org
                    p 
                        i(class="fa fa-phone") +1 (646) 688-2946
                    p 
                        i(class="fa fa-fax") +1 (646) 786-4780
                div(class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4")
                    h6(class="text-uppercase fw-bold mb-2") Links
                    p
                        a(class="text-reset" href="./index.html") Home
                    p
                        a(class="text-reset" href="project.html") Projects
                    p
                        a(class="text-reset" href="market.html") Market
                    p 
                        a(class="text-reset" href="contact.html") ContactUs
                         
                            
                
    div(class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);")
        span &copy 2021 Copyright:
        a(class="text-reset fw-bold" href="https://mdbootstrap.com/") HAF
                                
                            

        