header
            nav(class="navbar navbar-expand-lg navbar-light " id="navigation")
                .brand
                    a.navbar-brand HAF
                    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation")
                        span.navbar-toggler-icon
                .nav 
                    div(class="collapse navbar-collapse " id="navbarNav")
                        ul.navbar-nav
                            li.nav-item 
                                a(class="nav-link active" aria-current="page" href="./index.html") Home 
                            li.nav-item 
                                a(class="nav-link" href="project.html") Projects
                            li.nav-item 
                                a(class="nav-link" href="market.html") Market
                            li.nav-item 
                                a(class="nav-link" href="contact.html") ContactUs
                            li.nav-item
                                button(class="btn" type="button") Login