.form{
    padding: 10 200 10 200;
}
.form label{
    padding: 10 0 10 0;
}
.form input{
    margin: 10 0 10 0;
}
.form .button{
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 991px) {
    .form{
        padding: 10 100 10 100;
    }
}
@media screen and (max-width: 400px) {
    .form{
        padding: 10 50 10 50;
    }
}