*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.btn{
    background-color: #1c2438;
    color: white;
    border-color: #1c2438;
}
.btn:hover{
    background-color: #7398ab;
    color:white;
    border-color: #7398ab;
}
/* navbar */
.navbar-dark .navbar-brand {
    color: #1c2438;
}
a{
    font-weight: 700;
    font-style: italic;
}
p{
    font-size: 15px;
}
#navigation{
    justify-content: space-between;
    padding: 20 100 20 100;
}
.navbar{
    background-color:#e9e8e4;
   
}
.navbar-dark .navbar-nav .nav-link {
    color:rgb(36 41 46 / 92%);
}
.navbar-dark .navbar-nav .nav-link.active{
    color: black;
    font-size: 20px;
}
.navbar-dark .nav-link:hover{
    color: black;
    font-size: 20px;
    text-decoration: underline;
    transition: 0.1s;
}
/*  project-categorie*/
.projectCategorie{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectCategorie h5{
    padding: 10px;
}
/*  project-name */
.projectName{
    text-align: center;
}
/*  project-section */
.project{
    display: flex;
    justify-content: center;
    align-items: center;
}
.projectImage{
    width: 500px;
}
.projectDonation h5{
    margin: 0 0 15 0;
    text-align: center;
}
.infos{
    display:flex ;
    justify-content: space-between;
    margin: 15 0 0 0;
}
.info{
    display: flex;
    justify-content: space-between;
}
.projectInfo{
    width: 50%;
}
.share{
    width: 50%;
    display: flex;
    justify-content: center;
}
.projectShare button{
    display: block;
    margin: 5px;
}
@media screen and (max-width: 991px) {
    #navigation{
        display: block;
    }
    #navigation{
        padding: 20 10 20 10;
    }
    .brand{
        display: flex;
        justify-content: space-between;
    }
    #navigation li{
        display: flex;
        justify-content: center;
    }

    .project{
        display: block;
    }
    .projectImage{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .projectDonation{
        padding: 35px;
    }
    .info{
        display: block;
    }
    .projectInfo{
        width: 100%;
        text-align: center;
    }

    .share{
        width: 100%;
        
    }
    
}